@model Dish

<div>    
    <h2>Title: @Model.Title</h2>
    <p>Price: @Model.Price.ToString("c")</p>
    <p>Ingredients: @Model.Ingredients</p>
    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
</div>